body {
    background-color: #222222;
    color: #dddddd;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444444;
    padding: 0.5rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav a {
    color: #ffffff;
    margin: 0 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #77889a;
    color: #ffffff;
    border-radius: 5px;
}

main {
    padding: 20px;

}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2 {
    color: #ffffff;
}

.blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.blog-post {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.blog-post img {
    width: 100%;
    height: 40%;
    border-radius: 8px;
}

.blog-post h2 {
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.blog-post p {
    margin-top: 10px;
}

.blog-post a {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.blog-post a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333333;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #1e90ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin: 0;
    padding: 0.5rem 0;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

.rounded-border {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}